body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0px 166px;
}

.header{
    background-image: url("../Img/bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 25px;
}

.nav-item:hover{
    color: #d81d1d;
}

.cart{
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 15px;
    height: 50px;
}

.cart-img{
    position: absolute;
    top: 18px;
    right: 7px;
}

.num{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.num:hover{
    color: #d81d1d;
}

.phone-text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder{
    display: flex;
    align-items: center;
}

.button{
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
}

.button:hover{
    background-color: #894b17;
}

.header-down{
    position: relative;
}

.header-title{
    color: #d67e35;
    font-family: 'Tinos';
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 220px;
    margin-bottom: 12px;
}

.header-sup{
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans';
}

.header-sup:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 128px;
    left: 56px;
}

.header-sup::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 128px;
    left: 311px;
}

.header-button{
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    border-radius: 5px;
    transition: .2s;
}

.cards-holder{
    display: flex;
    justify-content: space-between;
}

.cards{
    width: 349px;
    box-shadow: 10px 10px 40px 20px rgb(0, 0, 0, 0.10);
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;
}

.card-img{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Tinos";
    font-size: 26px;
    font-weight: 400;
}

.desc{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Tinos";
    font-size: 26px;
    color: #BC9060;
}

.card-desc{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Tinos";
    font-size: 26px;
    color: #656363;
}

.history{
    margin-top: 166px;
    padding-bottom: 200px;
}

.his-title{
    font-family: "Tinos";
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}

.his-title span{
    color: #656363;
}

.his-number{
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item{
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number-item span{
    display: block;
    color: #000;
}

.his-image{
    position: relative;
}

.history-holder{
    display: flex;
}

.img1{
    position: absolute;
    z-index: 2;
    top: 54px;
    left: 211px;
}

.img2{
    position: absolute;
    z-index: 2;
    top: -80px;
    left: 300px;
}

.img3{
    position: absolute;
    z-index: 2;
    top: 240px;
    left: 480px;
}

.black-block{
    background-image: url("../Img/black-bg.jpg");
    padding: 80px;
}

.left-title{
    color: #d67e34;
    font-family: 'Tinos';
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 20px;
}

.left-text{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.right-button{
    background: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    border-radius: 5px;
    transition: .2s;
}

.right-button:hover{
    background-color: #d81d1d;
    color: #000;
}

.block-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-title{
    font-family: 'Tinos';
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 143px;
}

.dishes-title span{
    color: #d67e34;
}

.burgers-holder{
    display: flex;
    justify-content: center;
}

.burgers-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.burger-image{
    margin-right: 20px;
}

.burger-text{
    font-family: 'Tinos';
    font-size: 26px;
    margin-left: 20px;
}

.menu{
    background-image: url("../Img/menu-bg.jpg");
    background-repeat: no-repeat;background-size: cover;
    padding-bottom: 100px;
}

.menu-title{
    font-family: 'Tinos';
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom: 138px;
}

.menu-item{
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;

    margin-right: 30px;
}

.menu-text{
    font-family: 'Tinos';
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.menu-subtext{
    font-size: 16px;
}

.menu-btn{
    background-color: #d67e34;
    text-decoration: none;
    padding: 14px 65px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.menu-button{
    margin-top: 20px;
}

.price-image{
    position: absolute;
    bottom: 60px;
    right: 106px;
    color: #fff;
    font-size: 30px;
}

.menu-holder{
    display: flex;
    justify-content: center;
}

.coment{
    background-color: #E5E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.coment-text{
    text-align: center;
    font-style: italic;
    font-style: 20px;
    margin-bottom: 20px;
}

.coment-image img{
    border-radius: 50px;
}

.coment-image{
    text-align: center;
}

.coment-name{
    text-align: center;
}

.coment-type{
    font-weight: 600;
    font-style: 20px;
    text-align: center;
}

.galery-title{
    font-family: 'Tinos';
    font-size: 54px;
    text-align: center;
    padding-top: 101px;
    margin-bottom: 60px;
}

.galery-title span{
    color: #d67e34;
}

.galery-content{
    display: flex;
    justify-content: center;
}

.galery-left{
    margin-right: 20px;
}

.galery-down, 
.galery-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cook{
    padding-bottom: 100px;
}

.cook-title{
    font-family: 'Tinos';
    font-size: 54px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.cook-title span{
    color: #d67e34;
}

.cook-content{
    display: flex;
    justify-content: space-around;
}